.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 64px);
  padding: 0rem 4rem;
  background: linear-gradient(to right, #f9fafb, #f3f4f6);
}

.home-content {
  flex: 1;
  max-width: 600px;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 1rem;
}

.home-subtitle {
  font-size: 1.25rem;
  color: #4b5563;
  margin-bottom: 2rem;
}

.home-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #7B466A;
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #5D3C64;
}

.home-image {
  flex: 1;
  text-align: right;
}

.home-image img {
  max-width: 100%;
  height: auto;
}
.home-title,
.home-subtitle,
.home-button,
.home-image img {
  user-select: none;
}
